<div *ngIf="isLoading" >
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isLoading">

    <div *ngIf="errorMessageDisplayed != ''">
        <app-error-page [errorMessage]="errorMessageDisplayed" [pageLinkToReload]="'/main/'+kidId"></app-error-page>
    </div>
    <div *ngIf="errorMessageDisplayed === ''">

        <div [ngClass]="{
            'bg-sleeping' : currentActivity.ActivityType.toLowerCase() === 'sleeping',
            'bg-eating' : currentActivity.ActivityType != '' && currentActivity.ActivityType.toLowerCase() != 'sleeping'}" class="">

            <div class="container">

                <app-kid-header-info [kid]="kid" [kidAge]="kidAge" [timeSinceLastEat]="timeSinceLastEat"
                    [timeSinceLastSleep]="timeSinceLastSleep" [showPlaceholder]="!isHeaderInfoDisplay"></app-kid-header-info>

                <div *ngIf="!mainSectionTimerLastActs">
                    <div class="container d-flex align-items-center justify-content-center" style="min-height: 50vh;">
                        <div class="spinner-grow" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>

                <div *ngIf="mainSectionTimerLastActs">

                    <app-main-timer (newKidActivity)="sendNewKidActivity($event)"
                    [currentActivity]="currentActivity"></app-main-timer>
                    
                    <app-last-activities [activities]="activities"></app-last-activities>
                </div>
            </div>
        </div>
    </div>
</div>