<div class="container p-2 border-bottom pb-3">

    <div class="row">

        <!-- Icon, Name and Age on left -->
        <div class="col-5">
            <div class="row justify-content-center">
                <img src="../../../assets/img/baby-80.png" class="kidImg" />
            </div>

            <div class="row">
                <span class="fw-semibold">
                    {{kid.Name}}
                </span>
            </div>
            <div class="row">
                <span class="">
                    {{kidAge }} день
                </span>
            </div>
        </div>





        <!-- Time since last Activities -->
        <div class="col-7 lastTimes brighterIfNeeded">
            <div class="row">
                <span>Від сну: </span>

                <div *ngIf="showPlaceholder">
                    <div class="placeholder-glow">
                        <!-- <span class="placeholder placeholder-sm col-4 bg-secondary bg-opacity-50"></span> -->
                        <span>...</span>
                    </div>
                </div>

                <div *ngIf="!showPlaceholder">

                    <span *ngIf="timeSinceLastSleep >= 0; else nowSleeping" class="fw-semibold"> {{ timeSinceLastSleep |
                        shortTimerCounter }} </span>
                    <ng-template #nowSleeping><span>---</span></ng-template>
                </div>
            </div>

            <div class="row">
                <span>Від годування:</span>


                <div *ngIf="showPlaceholder">
                    <div class="placeholder-glow">
                        <!-- <span class="placeholder placeholder-sm col-4 bg-secondary bg-opacity-50"></span> -->
                        <span>...</span>
                    </div>
                </div>

                <div *ngIf="!showPlaceholder">

                    <span *ngIf="timeSinceLastEat >= 0; else newEating" class="fw-semibold"> {{ timeSinceLastEat |
                        shortTimerCounter }}</span>
                    <ng-template #newEating><span>---</span></ng-template>
                </div>
            </div>
        </div>

    </div>