img.playImg {
    max-height: 11vw;
    max-width: 11vw;
}

img.activityTypeImg {
    max-height: 6vw;
}


.activeActivitySleep {
    border-color: rgb(178, 192, 235);
    background-color: rgb(188, 202, 245);
    filter: drop-shadow(1px 1px 1px);

}

.activeActivityEat {
    border-color: rgb(255, 221, 178);
    background-color: rgb(255, 235, 215);
    filter: drop-shadow(1px 1px 1px);
}

.rowWithStartBtn {
    height: 7vh;
}