<div class="container">

    <div class="fs-4">
        Статистика сну
    </div>
    <div class="row">

        <div class="col">
            <div class="row">
                <span class="fs-5">Ніч <span style="font-size: 13px;" class="small text-secondary"> (20.00 - 08.00): </span></span>
            </div>

            <!-- <div class="row">
                <span class="small text-secondary"> (20.00 - 08.00): </span>
            </div> -->

            <div class="row">
                <span class=" fs-5"> {{sleepTimeNight | shortTimerCounter : "HH:mm" }} </span>
            </div>
        </div>
        <!-- <div class="col my-auto text-start">
            <span class="fw-bold my-auto"> {{ sleepTimeNight | shortTimerCounter : "HH:mm" }}</span>
        </div> -->

        <div class="col">
            <!-- <div class="row">
                <span class="fs-5 fw-lighter">За добу </span>
            </div>

            <div class="row">
                <span class="small"> (20.00 - 08.00): </span>
            </div> -->

            <div class="row">
                <span class="fs-5">Доба<span style="font-size: 13px;" class="small text-secondary"> ({{someDate}}.00 - {{someDate - 1}}.00): </span></span>
            </div>

            <div class="row">
                <span class=" fs-5"> {{sleepTimeToday | shortTimerCounter : "HH:mm" }} </span>
            </div>
        </div>
        <!-- <div class="col my-auto text-start">
            <span class="fw-bold my-auto"> {{ sleepTimeToday | shortTimerCounter : "HH:mm" }}</span>
        </div> -->
    </div>

    <!-- <div class="row">

        <div class="col text-start">
            <div class="row">
                <span class="fs-5 fw-lighter">за добу </span>
            </div>

            <div class="row">
                <span class="small ms-3"> (20.00 - 08.00): </span>
            </div>
        </div>
        <div class="col my-auto text-start">
            <span class="fw-bold fs-5 my-auto"> {{ sleepTimeToday | shortTimerCounter : "HH:mm" }}</span>
        </div>
    </div> -->
</div>

