<!-- <h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>

</table> -->


<div class="container">

    <!-- NAVBAR -->
    <div class="row border border-1 border-dark">
        <span>NAVBAR</span>
    </div>

    <div class="row">
        <div class="col-2">
            <img alt="kid img" src="../assets/img/baby-girl_icon.png"
            style="height: 50px; width: 50px;"/>
        </div>

        <div class="col text-start">
            <span> Kid Name </span>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col text-start">
                    <span> Current Activity: </span>
                    <span> <i>Eating</i> </span>
                </div>
            </div>

            <div class="row">
                <div class="col text-start">
                    <span> Start Time: 23:22:21 (should be changable) </span>
                </div>
            </div>
        </div>
    </div>



    <div class="row p-5">
        <div class="col">

            <div class="row justify-content-center">
                <img alt="start/stop img" style="width: 65px; height: 40px;" src="../assets/img/stop_icon.png"/>
                <span>00:00:01</span>
            </div>

        </div>
    </div>

    <div class="row p-5">
        <div class="col">
            <div class="btn btn-secondary">
                <span>Son</span>
            </div>
        </div>

        <div class="col">
            <div class="btn btn-secondary">
                <span>Eat</span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="row">

                <span> Last few activities: </span>
            </div>

            <div class="row border border-1 p-1">
                <div>
                    <p>Eating: <br/> 12:00:00 - 12:10:00 <br/> 10 mins </p>
                </div>
            </div>

            <div class="row border border-1 p-1">
                <div>
                    <p>Eating: <br/> 12:00:00 - 12:10:00 <br/> 10 mins </p>
                </div>
            </div>

            <div class="row border border-1 p-1">
                <div>
                    <p>Eating: <br/> 12:00:00 - 12:10:00 <br/> 10 mins </p>
                </div>
            </div>
        </div>

    </div>


    <footer class="fixed-bottom">
        
        <div class="row">
            <div class="col">
                
                <div class="row" style="bottom: 0px;">
                    
                    <div class="col">
                        <button class="btn btn-info">
                            Stats
                        </button>
                    </div>
                    
                    <div class="col">
                        <button class="btn btn-info">
                            Home
                        </button>
                    </div>
                    
                    <div class="col">
                        <button class="btn btn-info">
                            Settgs
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>

</div>