<div *ngIf="errorMessageDisplayed != ''">{{errorMessageDisplayed}}</div>


<div *ngIf="errorMessageDisplayed === ''">    
    <div class="row border-bottom" style="height: 5vw;">

    </div>
    <!-- My ACCOUNT -->
    <div class="row">
        <p> Аккаунт </p>
        <div class="col">
            <div>
                <img src="../../../assets/img/user.png" height="50" width="50"/>
            </div>
        </div>
        <div class="col">
            <span>Email: {{ currentParent.Email }} </span>
        </div>
    </div>


    <!-- List Of Childs, each selectable -->
    <div class="container py-5">
        
        <div class="text-start">
            <span class="h4">Діти</span>
        </div>

        <div class="row row-cols-3 border rounded-1 my-3">
            
            <div *ngFor="let kid1 of currentParent.Kids; index as i">

                <!-- Child Placeholder component -->
                <div class="col border border-2 border-secondary rounded-2 m-2" (click)="selectKid(kid1.KidId)">
                    <img src="../../../assets/img/baby-girl_icon.png" height="40" width="40"/>
                <div>
                    <span>{{kid1.KidName}}</span>
                </div>
                <div *ngIf="activeKidId != null && activeKidId == kid1.KidId">
                    active
                </div>
            </div>
        </div>

         </div>
    </div>


    <!-- Settings Secion -->
    <div class="container">

        <div class="row border">
            <div>Settings</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="mt-5 d-grid">
                <button class="btn btn-danger" (click)="logout()">
                    <span>Вийти</span>
                </button>
            </div>
        </div>
    </div>
   
</div>