<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>


<div *ngIf="!isLoading" class="container">

  <div *ngIf="errorMessageDisplayed != ''">
    <app-error-page [errorMessage]="errorMessageDisplayed" pageLinkToReload="/parent"></app-error-page>
  </div>
  <div *ngIf="errorMessageDisplayed === ''">

    <!-- My ACCOUNT -->
    <p class="display-5 text-center"> Аккаунт </p>
    <div class="brighterIfNeeded">

      <div class="row">
        <div class="col-auto my-auto ms-2">
          <div>
            <img src="../../../assets/img/user.png" height="30" width="30" style="max-width: 100%;" />
          </div>
        </div>

        <div class="col-8 text-start text-wrap">
          Email:
          <span class="fw-semibold"> {{ currentParent.Email }} </span>
        </div>

        <div class="col-auto my-auto">
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            </button>

            <ul class="dropdown-menu">
              <li (click)="logout()" class="border">
                <span class="btn">Вийти</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!-- List Of Childs, each selectable -->
    <div class="container pt-2">

      <div class="">
        <p class="display-6">Діти</p>
      </div>

      <div class="row row-cols-1 my-1 brighterIfNeeded">

        <!-- <div class="text-wrap" *ngFor="let kid1 of currentParent.Kids; index as i">
        
        Child Placeholder component 
        <div class="col border rounded-4 m-2 p-2 text-wrap w-100" 
        [ngClass]="kid1.KidId == activeKidId ? 'border-success border-3' : 'border-light'">
        <img src="../../../assets/img/baby-girl_icon.png" height="40" width="40" style="max-width: 100%;"
        (click)="selectKid(kid1.KidId)" />
        <div class="text-wrap">
          {{kid1.KidName}}
        </div>
        <div class="" *ngFor="let par of kid1.Parents; index as j">
          <div class="text-wrap" *ngIf="par == currentParent.Email">
            {{par}} (Я)
          </div>
          <div class="text-wrap" *ngIf="par != currentParent.Email">
            {{par}}
          </div>
        </div>
        <div>
          <button class="btn btn-sm btn-outline-secondary" (click)="plusKidBtnClick(kid1.KidId)">
            <span>Редаг.</span>
          </button>
        </div>
      </div>
      
    </div> -->

        <div class="col">

          <!-- List of all Kids of Parent -->
          <div *ngFor="let kid1 of currentParent.Kids; index as i">
            <div class="container text-start border rounded-4 my-2 py-2 text-wrap w-100 borderIfNeeded"
              *ngIf="!isEditingKid">
              <!-- [ngClass]="kid1.KidId == activeKidId ? 'border-success border-3' : 'border-light'"> -->
              <div class="row">
                <div class="col-9">
                  <label for="btn-check-selectKid_{{kid1.KidId}}" class="col-12">
                    <div class="row">
                      <div class="col-auto my-auto">
                        <input type="radio" [value]="kid1.KidId" [(ngModel)]="activeKidId"
                          id="btn-check-selectKid_{{kid1.KidId}}" class="btn" name="activekididaso"
                          (change)="onKidSelected(kid1.KidId)" />
                      </div>
                      <div class="col-auto ps-0">
                        <img src="../../../assets/img/baby-girl_icon.png" height="40" width="40"
                          style="max-width: 100%;" (click)="selectKid(kid1.KidId)" />
                      </div>
                      <div class="col">
                        {{kid1.KidName}}
                      </div>
                    </div>
                  </label>
                </div>
                <div class="col-3">
                  <div class="row ps-3">
                    <div class="col-auto">
                      <button class="btn btn-outline-info" (click)="plusKidBtnClick(kid1.KidId)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-pencil-fill" viewBox="0 0 16 16">
                          <path
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ONLY displaying SELECTED Kid when EDITING -->
            <div class="container text-start border rounded-4 my-2 py-2 text-wrap w-100"
              *ngIf="isEditingKid && selectedEditingKidId == kid1.KidId">
              <!-- [ngClass]="kid1.KidId == activeKidId ? 'border-success border-3' : 'border-light'"> -->
              <div class="row">
                <div class="col-9">
                  <label for="btn-check-selectKid_{{kid1.KidId}}" class="col-12">
                    <div class="row">
                      <div class="col-auto my-auto">
                        <input type="radio" [value]="kid1.KidId" [(ngModel)]="activeKidId"
                          id="btn-check-selectKid_{{kid1.KidId}}" class="btn" name="activekididaso"
                          (change)="onKidSelected(kid1.KidId)" />
                      </div>
                      <div class="col-auto ps-0">
                        <img src="../../../assets/img/baby-girl_icon.png" height="40" width="40"
                          style="max-width: 100%;" (click)="selectKid(kid1.KidId)" />
                      </div>
                      <div class="col">
                        {{kid1.KidName}}
                      </div>
                    </div>
                  </label>
                </div>


                <!-- List of Parent section -->
                <div class="col-12">
                  <div class="row">
                    <div class="fs-4">
                      Батьки
                    </div>
                  </div>

                  <!-- Actual List of Parents -->
                  <div class="row container">
                    <ul class="mb-0" *ngFor="let par of kid1.Parents; index as j">
                      <li>
                        <div class="text-wrap" *ngIf="par == currentParent.Email">
                          {{par}} (Я)
                        </div>
                        <div class="text-wrap" *ngIf="par != currentParent.Email">
                          {{par}}
                        </div>
                      </li>
                    </ul>
                  </div>

                  <!-- Add new Parent input -->
                  <div class="row">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Email нового родича"
                        [(ngModel)]="newParentEmail" aria-describedby="addParentInput">
                      <button class="btn btn-outline-secondary" type="button" id="addParentInput"
                        (click)="addNewParent()">+</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>



        <!-- EDIT/ADD Kid section -->
        <div class="col align-content-center" *ngIf="!isEditingKid">
          <button class="btn bg-secondary-subtle w-50 m-2 p-2" (click)="plusKidBtnClick(-1)">
            <span class="fs-5 fw-bold">+</span>
          </button>
        </div>

        <div class="col-12 border-top" *ngIf="isEditingKid">
          <!-- Name section for ADDING/EDIDTING Kid -->
          <div class="row text-start gy-2 p-1">
            <div class="col-5 text-end">
              <label for="inputKidName" class="form-text">Ім'я</label>
            </div>
            <div class="col-7">
              <input type="text" name="inputKidName" class="form-control" [(ngModel)]="kidModelName" />
            </div>

            <!-- Birth section for ADDING/EDITING Kid -->
            <div class="col-5 text-end">
              <label for="inputKidBirth" class="form-text">Дата народження</label>
            </div>
            <div class="col-7">
              <input type="date" value="kidModelBirth | date : 'yyyy-MM-dd'" name="inputKidBirth" class="form-control"
                [ngModel]="kidModelBirth | date : 'yyyy-MM-dd'" (ngModelChange)="kidModelBirth=$event" />
            </div>


            <!-- Buttons for ADDING new Kid -->
            <div class="col-12 text-center" *ngIf="isEditingKid && selectedEditingKidId == -1">
              <div class="row">
                <div class="col text-center">

                  <button class="btn btn-success" (click)="addKidBtnClick()">
                    <span>Додати</span>
                  </button>
                </div>
              </div>

              <div class="row pt-1">
                <div class="col text-center">
                  <button class="btn btn-outline-dark" (click)="onBackBtnClick()">
                    <span>Назад</span>
                  </button>
                </div>
              </div>
            </div>


            <!-- Kid Parents List and Add new Parent to kid Section -->


            <!-- Save/Delete buttons for selected EDITING Kid -->
            <div class="col-12" *ngIf="isEditingKid && selectedEditingKidId != -1">
              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-success" (click)="updateKidBtnClick()">
                    <span>Зберегти</span>
                  </button>
                </div>
                <div class="col text-center">
                  <button class="btn btn-danger" (click)="deleteKidBtnClick()">
                    <span>Видалити</span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-outline-dark" (click)="onBackBtnClick()">
                    <span>Назад</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- Settings section -->

    <div>
      <div class="">
        <p class="display-6">Налаштування</p>
      </div>

      <!-- Theme section -->
      <div class="m-1 p-1 brighterIfNeeded border">

        <div class="row border-bottom" style="height: 38px;">
          <div class="col col my-auto text-center">
            Тема
          </div>
          <div class="col-auto">

            <select class="form-select" [(ngModel)]="selectedTheme" (ngModelChange)="onThemeChange()">
              <option value="lightTheme">Світла</option>
              <option value="darkTheme">Темна</option>
            </select>
          </div>
        </div>

        <div class="row align-items-center" style="height: 38px;">
          <div class="col-auto">
            <div class="form-check form-switch form-check-reverse">
              <label class="form-check-label" for="flexSwitchCheckDefault">Автоматична тема (07-21 світла, 21-07 темна)</label>
              <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault"
                [(ngModel)]="isAutoThemeChecked" (ngModelChange)="onAutoThemeChanged()" />
            </div>
          </div>
        </div>


      </div>


    </div>


  </div>


  <!-- Version number section -->
  <footer>
    <span class="small">{{version}}</span>
  </footer>
</div>