<div>
    <div class="btn btn-secondary">
        Назад
    </div>
</div>

<!-- Validation user section -->
<div>
    <p>Для підтвердження скидання пароля, будь ласка, заповни поля нижче.</p>

    <div class="pt-2">
        <label>Email</label>
        <div class="col-8 mx-auto">
            <input #name="ngModel" type="email" [(ngModel)]="verifyModel.email" class="form-control" required email
                placeholder="me@gmail.com" />
            <span class="form-text" [hidden]="name.valid || name.untouched">Некоректний email</span>
        </div>
    </div>

    <div class="pt-3">
        <label>Ім'я будь-якої доданої дитини</label>
        <div class="col-8 mx-auto">
            <input name="pwd" [(ngModel)]="verifyModel.kidName" type="text" #pwdl="ngModel" class="form-control" />
        </div>
        <div class="form-text">Залиш поле пустим, якщо немає дітей.</div>
    </div>

    <div class="pt-3">
        <label>Дата народження дитини</label>
        <div class="col-8 mx-auto">
            <input name="pwd" [(ngModel)]="verifyModel.kidBirth" required type="date" #pwdl="ngModel"
                class="form-control" />
            <!-- (focus)="clearErrorMessage()" /> -->
        </div>
        <div class="form-text">Залиш поле пустим, якщо немає дітей.</div>
    </div>

    <div class="pt-4 col-8 mx-auto d-grid">

        <button class="btn btn-primary rounded-1" [disabled]="name.invalid" (click)="verifyUserCall()">
            Продовжити
        </button>
    </div>

    <div>
        <p> {{ verificationResponseMessage }} </p>
    </div>
</div>


<!-- Change Password Section -->
<div *ngIf="isVerificationSuccess">

    <div class="pt-3">
        <label>Новий пароль</label>
        <div class="col-8 mx-auto">
            <input name="pwd" [(ngModel)]="setPasswordModel.password" required type="password" #pwd="ngModel"
                class="form-control" />
            <span class="form-text" [hidden]="setPasswordModel.password.length >= 6 || pwd.untouched">Мінімум 6
                символів</span>
        </div>
    </div>

    <div class="pt-3">
        <label>Повтори пароль</label>
        <div class="col-8 mx-auto">
            <input name="pwd1" [(ngModel)]="confirmPassword" required type="password" class="form-control" />
        </div>
    </div>

    @if(setPasswordModel.password != confirmPassword)
    {
    <div>
        <span class="form-text"> Паролі не співпадають. </span>
    </div>

    }

    <div class="pt-4 col-8 mx-auto d-grid">

        <button class="btn btn-primary rounded-1"
            [disabled]="setPasswordModel.password != confirmPassword || setPasswordModel.password.length < 6"
            (click)="changePasswordCall()">
            Продовжити
        </button>
    </div>

    <div>
        <p>
            {{ passwordResetResponseMessage }}
        </p>
    </div>

</div>