<div [@pageShift]="isVerificationSuccess ? 'out' : 'in'">
    <div class="mb-3">
        <div class="btn btn-outline-secondary text-start" (click)="returnBackPress()">
            <i class="bi bi-arrow-up"></i>
            <span>&nbsp;&nbsp; На початок</span>
        </div>
    </div>

    <!-- Validation user section -->
    <!-- <div @slideInOut id="verifyDiv"> -->
    <div id="verifyDiv">

        <div class="container">
            <span class="fs-5 text-center">Для підтвердження скидання пароля заповни поля нижче.</span>
        </div>

        <div class="">
            <label>Email</label>
            <div class="col-8 mx-auto">
                <input #name="ngModel" type="email" [(ngModel)]="verifyModel.email" class="form-control" required email
                    placeholder="me@gmail.com" (focus)="clearErrorMessage()" />
                <span class="form-text" [hidden]="name.valid || name.untouched">Некоректний email</span>
            </div>
        </div>

        <div class="pt-3">
            <label>Ім'я будь-якої доданої дитини</label>
            <div class="col-8 mx-auto">
                <input name="pwd" [(ngModel)]="verifyModel.kidName" type="text" #pwdl="ngModel" class="form-control" (focus)="clearErrorMessage()" />
            </div>
            <div class="form-text">Залиш поле пустим, якщо немає дітей.</div>
        </div>

        <div class="pt-3">
            <label>Дата народження дитини</label>
            <div class="col-8 mx-auto">
                <input name="pwd" [(ngModel)]="verifyModel.kidBirth" required type="date" #pwdl="ngModel"
                    class="form-control" (focus)="clearErrorMessage()"/>
                <!-- (focus)="clearErrorMessage()" /> -->
            </div>
            <div class="form-text">Залиш поле пустим, якщо немає дітей.</div>
        </div>

        <div class="pt-4 col-8 mx-auto d-grid">

            <button class="btn btn-primary rounded-1" [disabled]="name.invalid" (click)="verifyUserCall()">
                Продовжити
            </button>
        </div>

        <div *ngIf="isUnderVerification" class="mt-2">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="mt-2">
            <p> {{ verificationResponseMessage }} </p>
        </div>
    </div>
</div>


<!-- Change Password Section -->
<div *ngIf="isVerificationSuccess">

    <p class="fs-5">Зміна пароля:</p>


    <div class="pt-3">
        <label>Новий пароль</label>
        <div class="col-8 mx-auto">
            <input name="pwd" [(ngModel)]="setPasswordModel.password" required type="password" #pwd="ngModel"
                class="form-control" (focus)="clearErrorMessage()" />
            <span class="form-text" [hidden]="setPasswordModel.password.length >= 6 || pwd.untouched">Мінімум 6
                символів</span>
        </div>
    </div>

    <div class="pt-3">
        <label>Повтори пароль</label>
        <div class="col-8 mx-auto">
            <input name="pwd1" [(ngModel)]="confirmPassword" required type="password" class="form-control" (focus)="clearErrorMessage()" />
        </div>
    </div>

    @if(setPasswordModel.password != confirmPassword)
    {
    <div>
        <span class="form-text"> Паролі не співпадають. </span>
    </div>

    }

    <div class="pt-4 col-8 mx-auto d-grid">

        <button class="btn btn-primary rounded-1"
            [disabled]="setPasswordModel.password != confirmPassword || setPasswordModel.password.length < 6"
            (click)="changePasswordCall()">
            Продовжити
        </button>
    </div>

    <div *ngIf="isUnderPasswordChange" class="mt-2">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>


    <div class="mt-2">
        <p>
            {{ passwordResetResponseMessage }}
        </p>
    </div>

</div>