* {
    background-color: inherit;
    font-family: inherit;
}

.sleepActivity {
    background-color: rgb(212, 222, 247);
    /* background-color: rgb(204, 212, 239); */

    filter: brightness(103%);
    border: 1px solid #9db4f5 !important;
    border-radius: 0.5rem;
}

.eatActivity {
    /* background-color: #ffe5eb; */
    background-color:rgb(255, 246, 233);

    filter: brightness(103%);
    border-radius: 0.5rem;
    border: 1px solid #eba0b2;
}

.sleepActivity-dark {
    background-color: rgb(168, 179, 211);

    filter: brightness(103%);
    border: 1px solid #9db4f5 !important;
    border-radius: 0.5rem;
}

.eatActivity-dark {
    background-color: rgb(220, 206, 188);

    filter: brightness(103%);
    border-radius: 0.5rem;
    border: 1px solid #eba0b2;
}