
<div class="container border-bottom border-dark-subtle"  [ngClass]="isRichSingleActivity ? 
activity.ActivityType.toLowerCase() === 'sleeping' ? 
this.currentTheme === 'lightTheme' ? 'sleepActivity' : 'sleepActivity-dark' : 
this.currentTheme === 'lightTheme' ? 'eatActivity' : 'eatActivity-dark' : '' ">

    <!-- OLD LAYOUT -->
    <!-- <div class="row">
        <div class="col-auto">
            <div class="row">
                <span class="my-auto">{{activity.StartDate | date:'HH:mm'}} -</span>
            </div>
            <div class="row" *ngIf="activity.IsActiveNow">
                <span class="my-auto">---</span>
            </div>
            <div class="row" *ngIf="!activity.IsActiveNow">
                <span class="my-auto">{{activity.EndDate | date:'HH:mm'}}&nbsp;&nbsp;</span>
            </div>
        </div>
        
        <div class="col d-flex justify-content-center">
            <div class="row my-auto" *ngIf="activity.IsActiveNow">
                <span>-- : --</span>
            </div>
            <div class="row" *ngIf="!activity.IsActiveNow">
                <span class="my-auto">{{activityTime | shortTimerCounter:"HH:mm"}}</span> 
                <span class="my-auto">{{ actTime | shortTimerCounter:"HH:mm" }}</span>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
             <span class="my-auto">{{activityNameUA}}</span> 
            <span class="my-auto">{{actNameUA}}</span>
        </div>
        
        
        <div *ngIf="isRichSingleActivity" class="col-auto d-flex justify-content-center"
        (click)="editActivity()">
            <i class="my-auto" [ngClass]="isEditingPressed && editingKidId == activity.Id ? 'bi bi-chevron-up' : 'bi bi-chevron-down'" ></i>
        </div>
    </div> -->

    <div class="row" style="min-height: 48px; background-color: transparent;">
        <div class="col-4 ps-0 d-flex justify-content-center">
            <div class="my-auto ">
                <span class="my-auto">{{activity.StartDate | date:'HH:mm'}} - 
                    <span *ngIf="activity.IsActiveNow" class="my-auto">---</span> 
                    <span *ngIf="!activity.IsActiveNow" class="my-auto">{{activity.EndDate | date:'HH:mm'}}</span>
                </span>
            </div>
            <!-- <div class="">
                <span class="my-auto">&nbsp;</span>
            </div> -->
        </div>
        
        <div class="col-4 ps-0 pe-1 d-flex justify-content-center">
            <div class="row my-auto" *ngIf="activity.IsActiveNow">
                <span>-- : --</span>
            </div>
            <div class="row d-flex justify-content-center" *ngIf="!activity.IsActiveNow">
                <!-- <span class="my-auto">{{activityTime | shortTimerCounter:"HH:mm"}}</span> -->
                <span class="my-auto">{{ actTime | shortTimerCounter:"HH:mm" }}</span>
            </div>
            
        </div>


        <div class="col d-flex justify-content-center pe-0">
            <!-- <span class="my-auto">{{activityNameUA}}</span> -->
            <span class="my-auto">{{actNameUA}}</span>
        </div>
        
        
        <div *ngIf="isRichSingleActivity" class="col-auto d-flex justify-content-center ps-0"
        (click)="editActivity()">
            <i class="my-auto" [ngClass]="isEditingPressed && editingKidId == activity.Id ? 'bi bi-chevron-up' : 'bi bi-chevron-down'" ></i>
        </div>
    </div>
</div>