input.ng-touched.ng-invalid {
    border:solid red 2px;
}
        
input.ng-touched.ng-valid {
    border:solid green 2px;
}

.notactive {
    opacity: 0.8;
}
  
  .main-content {
    /* z-index here to move behind the BABY EST title when password reset asked */
    z-index: 1;
    overflow: hidden;
  }
  