<div class="container">



    <div class="p-4">
        <span>
            <img src="./assets/img/baby-girl_icon.png" height="40" width="40" />
        </span>
    </div>

    <p class="h4" style="font-family: 'Times New Roman', Times, serif;">
        <span class="display-2">Baby</span>
        <br />
        <span class="display-2 fw-bold" style="color: pink;">E</span>ating
        <span class="display-2 fw-bold" style="color: lightblue;">S</span>leeping
        <span class="display-2 fw-bold">T</span>imer
    </p>

    <div class="row p-4">
        <div class="col mx-2">
            <div class="d-grid">
                <button class="btn btn-secondary {{logbutclass}}" (click)="changeRegistering(false)">
                    <span class="fw-bolder">Вхід</span>
                </button>
            </div>
        </div>

        <div class="col mx-2">
            <div class="d-grid isactived">

                <button class="btn btn-secondary {{regbutclass}}" (click)="changeRegistering(true)">
                    <span class="fw-bolder">Реєстрація</span>
                </button>
            </div>
        </div>
    </div>

    @if(!isRegistering)
    {
    <!-- Login Form -->
    <div class="row my-auto">
        <div class="pt-5">
            <span class="h3"> Вхід </span>
        </div>
        <form #loginForm="ngForm" class="p-2">

            <div class="pt-2">
                <label>Email</label>
                <div class="col-8 mx-auto">
                    <input name="name" [(ngModel)]="user.email" required email #name="ngModel" class="form-control"
                        placeholder="me@gmail.com" (focus)="clearErrorMessage()" />
                    <span class="form-text" [hidden]="name.valid || name.untouched">Некоректний email</span>
                </div>
            </div>

            <div class="pt-3">
                <label>Password</label>
                <div class="col-8 mx-auto">
                    <input name="pwd" [(ngModel)]="user.password" required type="password" #pwdl="ngModel"
                        class="form-control" (focus)="clearErrorMessage()" />
                    <span class="form-text" [hidden]="user.password.length >= 6 || pwdl.untouched">Мінімум 6
                        символів</span>
                </div>
            </div>

            <div class="pt-4 col-8 mx-auto d-grid">

                <button class="btn btn-primary rounded-1" [disabled]="loginForm.invalid || user.password.length < 6"
                    (click)="login()">Увійти</button>
            </div>
        </form>
    </div>
    }
    @else {
    <!-- Register Form -->
    <div class="row my-auto">
        <div class="pt-5">
            <span class="h3"> Реєстрація </span>
        </div>
        <form #registerForm="ngForm" class="p-2">

            <div class="pt-2">
                <label>Email</label>
                <div class="col-8 mx-auto">
                    <input name="name" [(ngModel)]="user.email" type="email" required email #name="ngModel"
                        class="form-control" placeholder="me@gmail.com" (focus)="clearErrorMessage()" />
                    <span class="form-text" [hidden]="name.valid || name.untouched">Некоректний email</span>
                </div>
            </div>

            <div class="pt-3">
                <label>Password</label>
                <div class="col-8 mx-auto">
                    <input name="pwd" [(ngModel)]="user.password" required type="password" #pwd="ngModel"
                        class="form-control" (focus)="clearErrorMessage()" />
                    <span class="form-text" [hidden]="user.password.length >= 6 || pwd.untouched">Мінімум 6
                        символів</span>
                </div>
            </div>

            <div class="pt-3">
                <label>Confirm Password</label>
                <div class="col-8 mx-auto">
                    <input name="pwd1" [(ngModel)]="confirmPassword" required type="password" class="form-control"
                        (focus)="clearErrorMessage()" />
                </div>
            </div>

            @if(user.password != confirmPassword)
            {
            <div>
                <span class="form-text"> Паролі не співпадають. </span>
            </div>

            }
            <div class="pt-4 col-8 mx-auto d-grid">

                <button class="btn btn-primary"
                    [disabled]="registerForm.invalid || user.password != confirmPassword || user.password.length < 6"
                    (click)="register()">
                    <span>Зареєструватись</span>
                </button>
            </div>
        </form>
    </div>
    }

    <div>
        <span [hidden]="errorMessage.length == 0">{{errorMessage}}</span>
    </div>

</div>