<!-- HomeComponent is used in Routing.
 It allows to display Footer only in some pages, except SignInPage.
 It has router-outlink to Child Components displayed inside
 and Footer. -->


<!-- Header -->
<div class="container {{themeClassStr}}" style="position: relative; z-index: 1030;">
    <div class="row border-bottom border-black">
        <div class="col-8 text-start ps-4">
            <span class="fs-3">Baby</span>
            <span class="fw-bold fs-3" style="color: pink;">E</span>
            <span class="fw-bold fs-3" style="color: lightblue;">S</span>
            <span class="fw-bold fs-3">T</span>
        </div>
        <!-- <div *ngIf="syncStatus === 1" class="col-2 me-0 pe-0">
            <div class="text-end pe-2">
                 <i class="bi bi-arrow-up fs-3"></i>
                 <span class="fs-4" *ngIf="pendingActsCount != 0">{{ pendingActsCount }}</span>
            </div>
        </div>
        <div *ngIf="syncStatus === 10" class="col-2 me-0 pe-0">
            <div class="text-end pe-2">
                 <i class="bi fs-3 bi-arrow-repeat"></i>
                 <span class="fs-4" *ngIf="pendingActsCount != 0">{{ pendingActsCount }}</span>
            </div>
        </div>
        <div *ngIf="syncStatus === 11" class="col-2 me-0 pe-0">
            <div class="text-end pe-2">
                 <i class="bi fs-3 bi-check-all"></i>
                 <span class="fs-4" *ngIf="pendingActsCount != 0">{{ pendingActsCount }}</span>
            </div>
        </div>
        <div *ngIf="syncStatus === 99" class="col-2 me-0 pe-0">
            <div class="text-end pe-2">
                 <i class="bi fs-3 bi-x"></i>
                 <span class="fs-4" *ngIf="pendingActsCount != 0">{{ pendingActsCount }}</span>
            </div>
        </div> -->
        <div class="col-3 me-0">
            <div class="text-end">
                <div>
                    <i class="fs-3" [ngClass]="[syncIconCurrent, syncStatus === 10 ? 'syncIconRotation' : '']"></i>
                    <span class="fs-4" style="display: inline-block;" *ngIf="pendingActsCount != 0">{{ pendingActsCount }}</span>
                </div>
            </div>
        </div>
        <div class="col-1 ps-0">
            <div class="">
                <!-- <i class="bi bi-wifi text-white my-auto fs-3"></i> -->
                <i class="bi fs-3" [ngClass]="wifiIcon"></i>
            </div>
        </div>
    </div>
</div>

<!-- Display Sync status if any activities failed -->
<div>
     <app-sync-status-pending-acts></app-sync-status-pending-acts>
</div>

<!-- Main Section of other components -->
<div class="p-0 m-0 {{themeClassStr1}}" style="min-height: 90vh;">
    <router-outlet></router-outlet>
</div>


<!-- Footer -->
<div class="p-0 m-0">
    <footer class="fixed-bottom pb-3 {{themeClassStr}}">
        <div class="row border-top p-2">
            <div class="col">

                <div class="row align-items-end" style="bottom: 0px;">

                    <div class="col" [ngStyle]="{'pointer-events' : this.activeKidNumber == 0 ? 'none' : ''}">
                        <a class="btn btn-dark" [routerLink]="['/history']" routerLinkActive="active-link">
                            <img src="../../../assets/img/chart-50_white.png" height="20" width="20">
                        </a>
                    </div>

                    <div class="col" [ngStyle]="{'pointer-events' : this.activeKidNumber == 0 ? 'none' : ''}">
                        <a class="btn btn-dark" routerLink="{{mainLink}}" routerLinkActive="active-link">
                            <img src="../../../assets/img/dashboard-layout-48_white.png" height="40" width="40">
                        </a>
                    </div>

                    <div class="col">
                        <a class="btn btn-dark" routerLink="parent" routerLinkActive="active-link">
                            <img src="../../../assets/img/user_white.png" height="20" width="20" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>