/* To highlight the current section in the Footer. */
.active-link {
    filter: brightness(200%);
}

span {
    font-family: 'Times New Roman', Times, serif;
}

a {
    /* background-color: #d0aeb3; */
    /* background-color: #9cabcf; */
    background-color: #404756;
    color: white;
}


.btn:hover {
    background-color: #404756;
    outline: none;
}

.bg-light-custom {
    /* background-color: #38424d;  */
    background-color: rgba(0, 0, 0, 0.81); /* ?????? */

}

.bg-dark-custom {
    
    /* dark state blue */
    background-color: #2f4f6f; 
    
    /* forest green  */
    /* background-color: #2c3e50;  */
}
