.custombg-radiobuttons {
    filter: saturate(0.4) !important;
    border-radius: 10px !important;
    border-width: 2px;
    /* box-shadow: 0.1rem 0.1rem 0.1rem #454242; */
    /* box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(0, 0, 0, 0.1) */
}