<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>


<div *ngIf="!isLoading">

    <div class="container">

        <p class="fw-bolder">Колись тут буде нормальна історія. <br/>В прогресі, в прогресі.</p>

        <div class="mt-4 border-secondary">
            <div class="card-body p-1">
                <div *ngFor="let activity of activities; index as i" class="border rounded-2 mb-2">
                    <app-single-activity [activity]="activity" [isRichSingleActivity]="true"></app-single-activity>
                </div>
            </div>
        </div>
    </div>

</div>