<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>

<div *ngIf="!isLoading && errorMessageForErrorComponent != ''">
    <app-error-page [errorMessage]='errorMessageForErrorComponent' pageLinkToReload="/history"></app-error-page>
</div>

<div *ngIf="!isLoading">


    
    <div class="container">

        <div class="mt-4 fs-5" *ngIf="activities.length == 0">
            Поки що активностей не було.
        </div>

        <div class="mt-4 ">
            <div class=" p-1">
                <div *ngFor="let activity of activities; index as i" class="mb-2">

                    <div class="text-start fs-5" *ngIf="i == 0 && shitActivityDates[i].toDateString() == dates[i]">
                        {{dates[i]}}
                    </div>

                    <div class="text-start fs-5 mt-3" *ngIf="i > 0 && shitActivityDates[i].toDateString() != dates[i-1]">
                        {{dates[i]}}
                    </div>
                    <div class="border rounded-2">

                    <app-single-activity [activity]="activity" [isRichSingleActivity]="true" [editingKidId]="activeEditingKidId" (selectedEditActivityEmit)="editActivity($event)"></app-single-activity>


                    <div *ngIf="isEditingKid && activity.Id == selectedEditingAct.Id" class="container">

                        <div class="row m-0">
                        
                            <div class="col">
                                <div class="row my-1">
                                        <div class="col-3 pe-0">
                                            <label>Тип</label>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <select class="form-select" [(ngModel)]="selectedActivityType">
                                                <option value="{{selectedEditingAct.ActivityType}}">{{activityTypeLocalUA}}</option>
                                                <option value="sleeping">Сон</option>
                                                <option value="eatingleft">Годування.Ліва</option>
                                                <option value="eatingright">Годування.Права</option>
                                                <option value="eatingboth">Годування.Обидві</option>
                                                <option value="eatingbottle">Годування.Пляшка</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="row my-1">
                                        <div class="col-3 pe-0">
                                            <label for="inputDateStart">Початок</label>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <input id="inputDateStart" type="datetime-local" class="form-control" [(ngModel)]="startDateString" />
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="row my-1">
                                        <div class="col-3 pe-0">
                                            <label for="inputDateEnd">Кінець</label>
                                        </div>
                                        <div class="col-auto ps-0">
                                            <input id="inputDateEnd" type="datetime-local" class="form-control" [(ngModel)]="endDateString"/>
                                        </div>
                                    </div>
                                    
                                </div>
                        
                                <div class="row">
                                    <div class="col border rounded-5 border-success-subtle">
                                        <button type="button" class="btn btn-outline-success border-0" (click)="saveChangesActivity()">
                                            <i class="bi bi-floppy-fill fs-5"></i>
                                        </button>
                        
                                    </div>
                                    <div class="col-auto">

                                    </div>
                                    <div class="col border rounded-5 border-danger-subtle">
                                        <button type="button" class="btn btn-outline-danger border-0" (click)="deleteActivity()">
                                            <i class="bi bi-trash3-fill fs-5"></i>
                                        </button>
                        
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    

</div>
